Repository semgrep/semgrep, pull requests merged in 2022-08, with the labels that each got.

#5925 chore(fail-open): Update fail-open message body
  changelog.d/pm-194.fixed
  cli/src/semgrep/app/session.py
  cli/src/semgrep/error_handler.py
  cli/tests/unit/test_error_handler.py
Labels: wait-for-me

#5942 fix(extract): regression in mk_rule_table
  changelog.d/pa-1786.fixed
  semgrep-core/src/runner/Run_semgrep.ml
Labels: feature:extract

#5976 fix(swift): attribute implicit semicolon locations to previous line
  semgrep-core/src/parsing/tree_sitter/Parse_swift_tree_sitter.ml
Labels: lang:swift

#5975 fix(swift): parse expression patterns as expressions
  semgrep-core/src/parsing/tree_sitter/Parse_swift_tree_sitter.ml
  semgrep-core/tests/swift/match_name.sgrep
  semgrep-core/tests/swift/match_name.swift
Labels: parsing, parsing-pattern, lang:swift
